:root {
  --primary-color: #e96188;
  --dark-primary: #e83e8c;
  --dark-color: #232323;
  --light-color: #fdfffc;
  --dark-gray: #6c757d;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--dark-color);
  background: var(--light-color);
  line-height: 1.5;
}

p {
  overflow-wrap: break-word;
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--light-color);
}

/* utilties */
.text-lg {
  font-size: 2rem;
  font-weight: 500;
}

.text-md {
  font-size: 1.8rem;
}

.text-sm {
  font-size: 1rem;
  padding: 0.3rem;
}

.logo {
  font-family: "Aclonica", sans-serif;
}

.logo span {
  color: var(--primary-color);
}

.btn {
  background: var(--primary-color);
  border-radius: 20px;
  margin: 0.9rem 0;
  padding: 0.75rem 1.5rem;
  color: var(--light-color);
  display: inline-block;
  text-align: center;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  outline: none;
}

.btn:hover {
  background: var(--dark-primary);
}

.uppercase {
  text-transform: uppercase;
}
.padding-l {
  padding: 1rem;
}
.padding-s {
  padding: 0.5rem;
}

.margin-s {
  margin: 0.5rem;
}
.margin-l {
  margin: 1rem;
}

/* nav section */
.header {
  position: fixed;
  top: 0;
  z-index: 3;
  width: 100%;

  background: var(--light-color);
  transition: all 0.5s;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 0.5rem 1rem;
  height: 80px;
  max-width: 1300px;
}

.shrink {
  height: 65px;
}

.nav .list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav .links {
  color: var(--dark-color);
}

.nav .links::after {
  content: "";
  display: block;
  width: 0;
  height: 0.2rem;
  background: var(--primary-color);
  transition: width 0.3s ease-in-out;
}

.nav .links:hover::after {
  width: 100%;
}

.nav .burger {
  display: none;
  cursor: pointer;
  text-align: center;
}

.nav .line {
  width: 30px;
  height: 3px;
  margin: 5px;
  background: var(--dark-color);
}

/* showcase section */

.showcase {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  padding-top: 8rem;
  background: url(img/background.jpg) no-repeat center center/cover;
  color: var(--light-color);
}

.showcase .container {
  width: 80%;
  margin: 5rem 2rem;
  padding-bottom: 3rem;
}

.showcase h1 {
  font-size: 3rem;
}

.showcase .cards {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
}

.showcase .card {
  height: 100%;
  background: var(--light-color);
}
.showcase .card-middle {
  background: #e2e2df;
}
.showcase .icon {
  margin: 1.5rem;
}
.showcase h3 {
  color: var(--dark-color);
}
.showcase .cards p {
  color: var(--dark-gray);
}

/* about section */

.about {
  margin: 6rem 6rem 0;
  text-align: center;
}

.about h2 {
  margin: 5rem;
  font-weight: 400;
}

.about .wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 2rem 2rem 0;
}

.about .content {
  text-align: left;
  padding: 1rem 2rem 3rem;
  margin: 3rem 1rem;
}

.about h3 {
  color: var(--primary-color);
}

/* service section */
.service .featuers {
  position: relative;
  background: url(img/menu-bg.jpg) no-repeat center center/cover;
  background-attachment: fixed;
}

.service .featuers::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}

.service .featuers-container {
  display: flex;
  margin: 2rem 4rem;
  color: #fff;
}

.service .featuers-header {
  z-index: 1;
  order: 2;
  margin: 2rem 1rem;
  width: 50%;
  text-align: left;
}

.service .featuers-header > div {
  margin: 2rem 0 0;
}

.service .featuers p {
  margin: 1rem 0 0;
  padding-bottom: 0;
}

.service .featuers-list {
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 3rem 2rem;
  width: 50%;
  text-align: left;
  counter-reset: item-name;
}

.service .featuers h3 {
  position: relative;
  margin: 0.5rem 0;
}

.service .featuers h3::before {
  counter-increment: item-name;
  content: "0" counter(item-name) ". ";
  position: absolute;
  display: inline-block;
  left: 0;
  transform: translateY(-40%);
  font-size: 4rem;
  opacity: 0.4;
}
.service .featuers .btn {
  margin-top: 3rem;
}

.service .featuers-link {
  display: block;
  color: var(--primary-color);
  margin: 0 0 1rem;
}

/* blog section */

.service-details {
  padding-bottom: 4rem;
}

/* team */
.team {
  padding-top: 2rem;
  text-align: center;
  margin: 2rem;
}

.team h3 {
  font-size: 1rem;
  color: var(--dark-gray);
  font-weight: 400;
}

.team .workers {
  display: flex;
  justify-content: center;
}

.team .worker {
  width: 250px;
  margin: 1rem;
  text-align: left;
}

.team img {
  display: block;
  width: 250px;
  height: 250px;
}

.team .team-link {
  display: inline-block;
  margin-bottom: 2rem;
}

.team .team-link i {
  border: 1px solid var(--dark-gray);
  color: var(--dark-gray);
  padding: 0.5rem;
  border-radius: 50%;
  margin: 0.3rem;
}

.team .team-img {
  position: relative;
}

.team .team-social {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-left: 0.5rem;
  opacity: 0;
  z-index: 2;
  transition: all 1s ease-in-out;
  background: rgba(255, 255, 255, 0.7);
}

.team-social:hover {
  opacity: 1;
}

.team-link i:hover {
  color: #0a2544;
  border-color: #0a2544;
}

.team-img .show-icon {
  opacity: 1;
}

/* cooffee */
.service-details .coffee {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: url(img/blog.jpg) no-repeat center center/cover;
  background-attachment: fixed;
  margin: 4rem 0 0;
}

.service-details .coffee-flex {
  color: var(--light-color);
  padding: 9rem 1rem;
}

.blog {
  padding: 4rem 0;
  text-align: center;
  background: #edede4;
}

.blog .blog-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  margin: 1rem 6rem 0;
}

.blog .blog-post {
  background: var(--light-color);
}

.blog h3 {
  font-size: 1.5rem;
}

.blog .blog-grid img {
  width: 100%;
}

.blog .blog-pic {
  position: relative;
}

.blog .blog-post a {
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
}
.blog .blog-btn {
  position: absolute;
  top: 0;
  left: 0.3rem;
  display: inline-block;
  font-size: 0.8rem;
  padding: 0.5rem 0.9rem;
}

/* reviews */
.reviews {
  position: relative;
  color: var(--light-color);
}

.reviews-container {
  padding: 5rem;
  margin: 0 3rem;
}

.reviews-container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.reviews-container h5,
.reviews h4 {
  margin: 0.5rem 0;
}

.reviews-flex {
  overflow: hidden;
  margin: 1rem 3rem;
}

.reviews .slide {
  display: flex;
  transition: all 1s ease-in-out;
}

.reviews .slider {
  padding: 0.5rem;
  min-width: 33.3%;
}

.reviews .video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.reviews .video video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.reviews .next {
  position: absolute;
  right: 7rem;
  bottom: 40%;
}

.reviews .prev {
  position: absolute;
  left: 6rem;
  bottom: 40%;
}

.reviews .next i,
.reviews .prev i {
  color: rgba(0, 0, 0, 0.5);
  background: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  padding: 1rem;
  cursor: pointer;
  z-index: 2;
}

.reviews h4 {
  position: relative;
  padding-left: 1.1rem;
}

.reviews h4::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  background: var(--light-color);
  width: 0.8rem;
  height: 0.2rem;
}

/* footer */
.contact {
  text-align: center;
}

.contact h5 {
  font-size: 1rem;
  color: var(--dark-gray);
  margin-bottom: 0.5rem;
}

.contact .social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact .social-icons a {
  color: #fff;
  border-radius: 50%;
  transition: all 1s;
}

.contact .social-icons a:nth-child(1) {
  background: #3b5998;
  padding: 0 0.2rem;
}

.contact .social-icons a:nth-child(2) {
  background: #00acee;
}

.contact .social-icons a:nth-child(3) {
  background: #dd2a7b;
}

.contact .social-icons a:nth-child(4) {
  background: #db3236;
}

.contact .social-icons a:hover {
  transform: scale(1.2);
}

.contact .contact-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  margin-top: 5rem;
  padding: 3rem;
}

.contact .contact-info h4 {
  margin-bottom: 1rem;
}

.contact .contact-info .address {
  font-size: 0.8rem;
}

.contact .contact-info .address h3 {
  margin-bottom: 0.8rem;
}

.contact .contact-info .week {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.contact .contact-info .week div {
  margin-top: 1rem;
}

.contact .contact-info .hours span {
  display: block;
}

.contact .contact-info .hours div:nth-child(1) {
  font-weight: 900;
}

.contact .contact-info .form-control {
  margin: 0.5rem 0;
  padding: 1rem 0;
  border-bottom: 1px solid var(--dark-color);
  text-align: left;
}

.contact .contact-info .contact-form input {
  padding-left: 1rem;
  border: none;
  outline: 0;
}

.contact .success,
.contact .error {
  display: none;
}

.contact .success {
  color: var(--light-color);
  background: #365c9a;
  margin: 0 2rem;
  padding: 1.5rem 0.5rem;
}

.contact .error {
  color: #db3236;
}

.contact .show {
  display: block;
}

@media screen and (max-width: 1024px) {
  /* nav section  */
  .nav .logo {
    font-size: 1.5rem;
    justify-content: space-around;
  }
  .nav .item {
    margin: 0.5rem;
    font-size: 0.8rem;
  }

  /* showcase section */

  .showcase .cards {
    width: 100%;
  }

  /* about section */
  .about .content {
    text-align: center;
  }

  .about .content h3,
  .about .content p {
    margin-bottom: 1rem;
  }

  .about .wrapper {
    margin: 0;
    grid-template-columns: 1fr;
  }
  .about img {
    width: 100%;
  }
  .about .img:nth-of-type(even) {
    grid-row: 3;
  }

  /* service section */
  .service .featuers-container {
    flex-direction: column;
    margin: 4rem;
    padding: 0 2rem;
  }

  .service .featuers-header {
    order: 1;
    width: 100%;
    text-align: center;
    margin: auto;
  }

  .service .featuers h2 {
    order: 1;
    width: 100%;
    text-align: center;
    margin: auto;
  }
  .service .featuers-list {
    order: 2;
    grid-template-columns: 1fr;
    text-align: center;
    width: 100%;
    margin: 2rem auto;
  }
  .service .featuers h3::before {
    left: 43%;
  }
}

@media screen and (max-width: 768px) {
  /* utilities */
  .text-lg {
    font-size: 1.5rem;
    font-weight: 900;
  }

  .text-md {
    font-size: 1.2rem;
    font-weight: 900;
  }

  .text-sm {
    font-size: 0.8rem;
  }
  /* navbar */
  .nav .logo {
    font-size: 1rem;
  }
  .nav .list {
    flex-direction: column;
    text-align: center;
    position: fixed;
    top: 80px;
    left: 0;
    width: 100%;
    height: 0vh;
    margin: 0;
    padding-bottom: 2rem;
    opacity: 0;
    transition: all 0.5s ease-in;
    background: var(--light-color);
  }

  .shrink .list {
    top: 65px;
  }

  .nav .item {
    margin: 0.5rem;
  }

  .nav .burger {
    display: block;
    transition: all 0.5s ease-in-out;
  }

  .nav .active {
    opacity: 1;
    height: 40vh;
  }

  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  .toggle .line2 {
    opacity: 0;
  }
  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
  /* showcase section */
  .showcase .container {
    width: 100%;
    margin: 7rem 3rem 5rem;
  }
  .showcase h1 {
    font-size: 2rem;
    margin: 0.25rem;
  }
  .showcase h4 {
    font-size: 0.7rem;
  }

  .showcase .cards p {
    font-size: 1rem;
    margin: 2rem 1.5rem;
  }
  .showcase .cards {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 5rem;
  }
  .showcase .card {
    width: 100%;
  }

  /* about section */
  .about {
    margin: 3rem 0;
  }
  .about .wrapper {
    margin: 1rem 0;
    grid-template-columns: 1fr;
  }
  .about h2,
  .about h3 {
    margin: 1rem 0 2rem;
  }
  .about .content {
    text-align: center;
    margin: 0.5rem;
  }
  .about img {
    width: 100%;
  }
  .about .img:nth-child(even) {
    grid-row: 3;
  }
  /* service section */
  .service .featuers-container {
    flex-direction: column;
    margin: 2rem;
  }

  .service .featuers-header {
    order: 1;
    width: 100%;
    text-align: center;
    margin: auto;
  }
  .service .featuers-list {
    order: 2;
    grid-template-columns: 1fr;
    text-align: center;
    width: 100%;
    margin: 2rem auto;
  }
  .service .featuers h3::before {
    left: 43%;
  }

  /* team  */
  .team .workers {
    flex-direction: column;
  }

  .team .worker {
    width: 100%;
    text-align: center;
    margin: auto;
  }
  .team img {
    width: 100%;
    height: 50vh;
  }

  /* blog */

  .blog .blog-grid {
    grid-template-columns: 1fr;
    margin: 1rem 0;
  }

  /* reviews */

  .reviews .reviews-container {
    padding: 1rem 0;
    margin: 0;
    text-align: center;
  }

  .reviews .next {
    right: 0.5rem;
  }

  .reviews .prev {
    left: 0.5rem;
  }

  .reviews .slider {
    min-width: 100%;
  }

  .reviews h4 {
    padding-left: 0;
  }

  .reviews h4::before {
    display: none;
  }

  /* footer */

  .contact .contact-info {
    grid-template-columns: 1fr;
  }
}
